  <footer>
  <ul>
  
  <li><a href="/" class="link"><img class="icon" src="assets/huis.svg" alt="">Home</a></li>
  <li><a href="/veldverkenner" class="link"><img class="icon" src="assets/kaart.svg" alt="">Veldverkenner</a></li>                           
  <li><a href="/nieuws" class="link"><img class="icon" src="assets/nieuws.svg" alt="">Nieuws</a></li>                            
  <li><a href="/collectie" class="link"><img class="icon" src="assets/bloem.svg" alt="">Collectie</a></li>                              
  
  </ul>
    
  </footer>
  </body>
</html>