{% render 'partials/head.liquid' %}

    <header>
      <h1 class="titel">Home</h1> <!-- Naam van de pagina -->
    </header>
    
<main>

  <h1 class="welkom">Welkom</h1>

<article>
    
  <h3><img class="icon" src="assets/bloem.svg" alt="">Bloemenveld collectie</h3>

  <section class="collectie">
    <p>
      Je hebt nog niks gespaard
      Start de Veldverkenner om 
      meer te weten te komen over 
      wat er groeit en je collectie 
      aan te vullen</p>
  </section>

</article>

<article>
  
  <h3><img class="icon" src="assets/nieuws.svg" alt="">Veld Nieuws</h3>
  
  <section class="nieuws">

  <p class="tag">Bloemenveld</p> <!-- Tag linksboven van het artikel -->
  <p class="tijd">4u geleden</p> <!-- (wanneer het artikel gepost was) -->
  
  <p><strong>De na bloei van de duizendblad</strong></p> <!-- titel van het nieuwsartikel -->
  
  <img class="foto" src="assets/duizendblad.png" alt="duizendblad bloem"> 
  
  <p>De duizendblad is nog maar even in de bloei</p>

  </section>


</article>
</main>
{% render 'partials/foot.liquid' %}

<!--  -->