{% render 'partials/head.liquid' %}



  <!-- Top nieuws -->
  <section class="topnieuws">
    <a href="/" class="terug">← Terug</a>
    <h1 class="titel">Veld nieuws</h1>
  </section>

  <!-- Filters -->
  <section class="filters">
    <button class="filter actief">Laatste</button>
    <button class="filter">In de bloei</button>
    <button class="filter">Na de bloei</button>
  </section>

  <!-- Search -->
  <section class="zoek">
    <input type="text" placeholder="search">
  </section>

<main class="hoofd-nieuws">
    <ul>
        {% for newsItem in nieuws %}
            <li>
                <img src="https://fdnd-agency.directus.app/assets/{{newsItem.image}}" alt="{{newsItem.title}}">
                <p>Bloemenveld</p> 
                <a href="/nieuws/{{ newsItem.slug }}">{{ newsItem.title }}</a>
        {% endfor %}
    </ul>
</main>

{% render 'partials/foot.liquid' %}